<!DOCTYPE html>

<html>

<head>
    <link rel="stylesheet" type="text/css" href="/SiteContent/stylesheets/style.css">
    <link rel="icon" type="image/png" href="/SiteContent/favicon.ico">

    <style>
        a {
            color: rgb(44, 47, 94);
            text-decoration: underline;
        }

        .centerdiv {
            display: block;
            margin: auto;
            margin-bottom: 25px;
            /*text-align: center;*/
            width: 700px;
            height: auto;
            background-color: rgb(241, 241, 241);
            padding: 15px;
            border-radius: 30px;
        }

        pre {
            position: relative;
            margin: 5px 0;
            white-space: pre-wrap;
        }

        pre button {
            position: absolute;
            right: 0px;
            border: none;
            opacity: 75%;
        }

        code {
            background-color: rgb(202, 202, 202);
            padding: 5px;
        }

        pre code {
            display: block;
            width: 100%;
            box-sizing: border-box;
            overflow: hidden;
            word-wrap: break-word;
            word-break: break-all;
            height: auto;
        }

        img {
            width: 100%;
            height: auto;
            border-radius: 15px;
            padding-bottom: 5px;
        }

        .profilepicture {
            width: 25px;
            height: auto;
            border-radius: 100%;
            padding-bottom: 0px;
        }

        hr {
            border: 0px;
            border-top: 3px solid #bbb;
        }
    </style>

    <script src="/SiteContent/scripts/universalUtils.js"></script>
</head>

<body>
    <div class="topnavholder">
        <div class="topnav">
            <a href="/">Tools</a>
            <a class="active" href="/articles/about">About</a>
            <a href="https://github.com/Ticko-Grey/trptools">Open Source</a>
        </div>

        <div class="topnav nav-right">
            <a id="loginAccount" href="/auth/login">Login</a>
        </div>
    </div>

    <div class="centerdiv">
        <h1><%= title %></h1>
        <div style="font-size: 25px;">
            Posted by
            <img src=<%- profileSource %> class="profilepicture">
            <%= username %>
        </div>

        <div style="font-size: 15px;">
            <%= views %> Views
        </div>

        <div id='adminActions' style="display: none;">
            <button class="inputbutton" style="background-color: #d5a55d;" onclick="editPost()">Edit post</button>
            <button class="inputbutton" style="background-color: #c86a6a;" onclick="deletePost()">Delete post</button>
        </div>

        <hr>

        <p>
            <%- body %>
        </p>
    </div>

</body>

<script>
    const copyButtonLabel = "Copy";
    const ownsPage = <%- ownsPage %>
    const id = "<%- articleId %>"

    let blocks = document.querySelectorAll("pre");

    blocks.forEach((block) => {
        // only add button if browser supports Clipboard API
        if (navigator.clipboard) {
            let button = document.createElement("button");

            button.innerText = copyButtonLabel;
            block.prepend(button);
            button.className = 'codeButton'

            button.addEventListener("click", async () => {
                await copyCode(block);
            });
        }
    });

    async function copyCode(block) {
        let code = block.querySelector("code");
        let text = code.innerText;

        await navigator.clipboard.writeText(text);
    }

    if (ownsPage == true) {
        document.getElementById('adminActions').style = 'display: block;'
    }

    function editPost() {
        window.location = '/articles/edit/' + id
    }

    async function deletePost() {
        await fetch('/articles/delete/' + id, {method:'POST'})
        window.location.reload();
    }
</script>

</html>