<!DOCTYPE html>

<html>

<head>
    <title>TrP Tools Article</title>
    <meta content='<%- title %>' property="og:title" />
    <meta content="Read this article by <%- username %> and many more on trptools.com. <%- shortbody %>" property="og:description" />
    <!-- <meta name="og:image" itemprop="image" content='<%- imageUrl %>'> -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:image" content="<%- imageUrl %>">

    <link rel="stylesheet" type="text/css" href="/public/stylesheets/style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <link rel="icon" type="image/png" href="/public/favicon.ico">

    <style>
        a {
            color: rgb(170, 174, 224);
            text-decoration: underline;
        }

        .centerdiv {
            display: block;
            margin: auto;
            margin-bottom: 25px;
            /*text-align: center;*/
            width: 700px;
            height: auto;
            background-color: #3a3a3a;
            color: white;
            padding: 15px;
            border-radius: 30px;
            position: relative;
        }

        pre {
            position: relative;
            margin: 5px 0;
            white-space: pre-wrap;
        }

        pre button {
            position: absolute;
            right: 0px;
            border: none;
            opacity: 75%;
        }

        code {
            background-color: rgb(202, 202, 202);
            padding: 5px;
        }

        pre code {
            display: block;
            width: 100%;
            box-sizing: border-box;
            overflow: hidden;
            word-wrap: break-word;
            word-break: break-all;
            height: auto;
        }

        img {
            width: 100%;
            height: auto;
            border-radius: 15px;
            padding-bottom: 5px;
        }

        .profilepicture {
            width: 25px;
            height: auto;
            border-radius: 100%;
            padding-bottom: 0px;
        }

        hr {
            border: 0px;
            border-top: 3px solid #bbb;
        }

        h1, h2, h3 {
            display: inline-block;
            margin-top: 10px;
            margin-bottom: 10px;
            max-width: 70%;
            word-wrap: break-word;
        }

        
        h1:target, h2:target, h3:target {
            background-color: rgba(255, 255, 0, 0.308);
            border-radius: 10px;
            padding: 5px;
            transition-duration: 1s;
        }

        .linkanchor {
            padding-left: 10px;
            cursor: pointer;
            display: inline-block;
            user-select: none;
            transition-duration: 100ms;
        }

        .linkanchor:hover {
            color: rgb(144, 145, 179);
        }

        .linkanchor:active {
            transform: scale(0.8);
        }

        .adminActions {
            position: absolute;
            right: 0px;
        }

        .tag {
            background-color: #585858;
            border-radius: 25px;
            padding: 10px;
            margin-right: 5px;
        }
    </style>

    <script src="/public/scripts/universalUtils.js"></script>
</head>

<body>
    <div class="topnavholder">
        <div class="topnav">
            <a href="/">Tools</a>
            <a class="active" href="/articles/about">About</a>
            <a href="https://github.com/Ticko-Grey/trptools">Open Source</a>
        </div>

        <div class="topnav nav-right">
            <a id="loginAccount" href="/auth/login">Login</a>
        </div>
    </div>

    <div class="centerdiv">
        <h1 id="title"><%= title %></h1>

        <div id='adminActions' class="adminActions" style="display: none;">
            <button class="inputbutton" style="background-color: #d5a55d;" onclick="editPost()">Edit post</button>
            <button class="inputbutton" style="background-color: #c86a6a;" onclick="deletePost()">Delete post</button>
        </div>

        <div style="font-size: 25px;">
            Posted by
            <img src=<%- profileSource %> class="profilepicture">
            <a href="/profiles/<%- ownerId %>"> <%= username %> </a>
        </div>

        <div style="font-size: 15px;">
            <%= views %> Views
        </div>

        <div style="display: flex; margin-top: 5px;" id="tagholder">
        </div>

        <hr>

        <p>
            <%- body %>
        </p>
    </div>

</body>

<script>
    const copyButtonLabel = "Copy";
    const ownsPage = <%- ownsPage %>
    const id = "<%- articleId %>"

    let tags = `<%- tags %>`
    if (tags) {
        tags = JSON.parse(tags);

        const tagholder = document.getElementById('tagholder')
        tags.forEach((tag) => {
            let tagobj = document.createElement("div");
            tagobj.className = "tag"
            tagobj.innerHTML = tag
            tagholder.appendChild(tagobj);
        });
    }

    let blocks = document.querySelectorAll("pre");
    blocks.forEach((block) => {
        // only add button if browser supports Clipboard API
        if (!navigator.clipboard) { return }

        let button = document.createElement("button");

        button.innerText = copyButtonLabel;
        block.prepend(button);
        button.className = 'codeButton'

        button.addEventListener("click", async () => {
            await copyCode(block);
        });
    });

    let headings = document.querySelectorAll("h1, h2, h3");
    let hid = 1

    headings.forEach((header) => {
        if (!navigator.clipboard) { return }
        if (header.id) { return }

        let temp = document.createElement('span');
        temp.className = "material-symbols-outlined"
        temp.innerHTML = `
        \n link \n
        `;

        const tempdiv = document.createElement('div')
        tempdiv.className = "linkanchor"

        const currentHeader = hid

        header.id = "header_" + currentHeader
        
        tempdiv.appendChild(temp)

        const url = location.protocol + '//' + location.host + location.pathname

        tempdiv.addEventListener("click", function() {
            navigator.clipboard.writeText(url + "#header_" + currentHeader);
        })

        hid += 1
        header.parentNode.insertBefore(tempdiv, header.nextSibling);
        tempdiv.after(document.createElement('br'))
    });

    async function copyCode(block) {
        let code = block.querySelector("code");
        let text = code.innerText;

        await navigator.clipboard.writeText(text);
    }

    if (ownsPage == true) {
        document.getElementById('adminActions').style = 'display: inline-block;'
    }

    function editPost() {
        window.location = '/articles/edit/' + id
    }

    async function deletePost() {
        await fetch('/articles/delete/' + id, {method:'POST'})
        window.location.reload();
    }
</script>

</html>